---
import Layout from '../layouts/Layout.astro';
import Header from "../components/automation/header"
import Services from "../components/automation/services"
import Process from "../components/automation/process"
import Stats from "../components/automation/stats"
import CaseStudies from "../components/automation/caseStudies"
import Testimonials from "../components/automation/testimonials"
import Contact from "../components/automation/contact"
import Footer from "../components/automation/footer"
---

<Layout title="Automation Agency">
  <main>
    <Header client:only="react" />
    <Services client:only="react" />
    <Process client:only="react" />
    <Stats client:only="react" />
    <CaseStudies client:only="react" />
    <Testimonials client:only="react" />
    <Contact client:only="react" />
    <Footer client:only="react" />
  </main>
</Layout>